form {
    display: flex;
    margin-bottom: 20px;
    border-bottom: #ccc 2px solid;
  }
  
  form input {
    flex: 1;
    padding: 8px;
    border: none;
    margin-right: 10px;
  }
  
  form button {
    background-color: #80be4e;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    line-height: 2px;
    margin: 3px;
  }
  
  form button:hover {
    background-color: #218838;
  }